.tarea-formulario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    gap: 10px
}
.tarea-input{
    width: 100%;
    min-height: 40px;
    font-size: medium;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
}
.tarea-boton{
    border: none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
}